botircnick=ASBot
botircpass=codelyoko
githubnick=sarkynin
githubpass=codelyoko123
googledrive_client_id=534544907457-lsn91jvbl4hvepi5ol4rqd6fuhil7684.apps.googleusercontent.com
googledrive_client_secret=-iuzcmKJEwuyUtHvEhp4fzC5
memos_url=https://gist.github.com/Sarkynin/57efb36d3329269394f8
p12pass=notasecret
quotes_url=https://gist.github.com/Sarkynin/3f146714e4fc204ae545
smogon_password=m1R0R8Z1i4hV
smogon_username=apt-get
